.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0b0c10;
  padding: 15px 30px;
}

.navbar-logo {
  color: #66fcf1;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar-menu li {
  cursor: pointer;
  color: white;
}

.navbar-menu li button {
  background: none;
  border: none;
  color: #66fcf1;
  font-size: 1rem;
  cursor: pointer;
}
